.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobs {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  padding: 10px 0 40px;
}

.jobs * {
  font-family: "Poppins", sans-serif;
}

.jobs .jobs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.jobs .jobs-header .page-title,
.jobs .jobs-header .page-title {
  flex-grow: 1;
}

.jobs .jobs-header .page-title {
  font-size: 2rem;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.jobs .jobs-header .page-title span {
  color: var(--title);
}

.jobs .jobs-header .button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.jobs .jobs-header .button-group .button {
  outline: 0;
  background-color: var(--white);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: all 0.25s ease-in-out;
}

.jobs .jobs-header .button-group .button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.jobs .jobs-header .button-group .button:hover,
.jobs .jobs-header .button-group .button-selected:hover {
  opacity: 0.7;
}

.jobs .jobs-header .button-group .button-selected {
  outline: 0;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: all 0.25s ease-in-out;
}

.jobs .job-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 16px;
}

@media screen and (min-width: 481px) {
  .jobs .job-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 769px) {
  .jobs .job-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1225px) {
  .jobs .job-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
